# Group 27
# Student : Mirage Mohammad
# Student Number: 300080185

In [2]:
#Importing required packages.
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import svm
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
%matplotlib inline

In [17]:
#Loading dataset
dataframe = pd.read_csv('/Users/mirage/Desktop/Assignment/diabetic_data.csv')

**1. Understand the classification task for your dataset**\
a. Is it a binary/multi-class classification? \
b. What is the goal? Is this for a particular application?

Answer:
a. This is a multi-class classification because one binary model needs to be trained for each class,
where this is a one vs all model; Race: Caucasian, Aferican
b. The goal of this classification is have an understanding of real customer data a long with linking their race, gender, age status
with their income and their family life

**2. Analyze your dataset** \
a. Characterize the dataset in terms of number of training examples, number of \
features, missing data, etc.

**3. Brainstorm about the attributes (Feature engineering)** \
a. Think about the features that could be useful for this task, are they all present in the
dataset? Anything missing? Any attribute provided that doesn’t seem useful to you?

**4. Encode the features** \
a. As you will use models that need discrete or continuous attributes, think about data
encoding and transformation.

**5. Prepare your data for the experiment, using cross-validation**

**6. Train at least these 3 models using some default parameters. You should use ALL the models** \
below:
a. Naïve Bayes \
b. Logistic Regression \
c. Multi-Layer Perceptron

**7. Test your 3 models using cross-validation (provided the split in step 5)**

**8. Perform an evaluation with precision/recall measures**

**9. For each type of model, modify some parameters, and perform a train/test/evaluate again.**
Do this for two times.

**10. Analyze the obtained results** \
a. Compare quantitatively (with the precision/recall measures) your 9 results. The 9
results come from 3 models, each with default parameters from step 6 + 2 variations
from step 9. \
b. Show some examples of results that are good and not good (false positives and false
negatives), try to understand why and discuss.

In [18]:
dataframe.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [9]:
# Naive Bayes Agorithm Test, fit represents training
from sklearn.naive_bayes import MultinomialNB

# Training the model
clf = MultinomialNB().fit(train_counts, train_tags)

NameError: name 'train_counts' is not defined